.album-page {
  &__new {
    color: brown;
    background-color: rgb(255, 194, 119);
    border: solid 1px rgb(234, 141, 29);
    @include btn-style;
    right: 40px;
    transform: none;
  }
}

.album-new {
  padding: 20px;
  @include display-center;
  align-items: flex-start;
  .new_album {
    min-height: 600px;
    width: calc(100% - 40px);
    padding: 10px;
    background-color: green;
    display: flex;
    flex-direction: column;
    &__title {
      width: 100%;
      margin-bottom: 30px;
    }
    &__picture {
      height: 150px;
      width: 150px;
      background-color: wheat;
      cursor: pointer;
      &__hidden {
        
        display: none;
      }
    }
  }
}

.new_album__btn__save {
  @include btn-style;
  right: 40px;
}