.header {
  font-family: 'YuMincho';
  background-image: image-url("back.jpg");
  background-position: center;
  background-size: cover;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.9;
  a { text-decoration: none;
      color: white;
      text-shadow: 0 0 3px black;
    }
  .app-title {
    margin-left: 50px;
    font-size: 30px;
  }
  .right {
    margin-right: 50px;
    &__name {
      color: white;
      text-shadow: 0 0 3px black;
    }
    &__login, &__logout {

    }
  }
  
}