.memo-page {
  font-family: 'YuMincho';
  a {
    text-decoration: none;
    color: black;
  }
  &__new {
    color: brown;
    background-color: rgb(255, 194, 119);
    border: solid 1px rgb(234, 141, 29);
    @include btn-style;
    right: 40px;
    @include display-center;
    transform: none;
  }
  &__memos {
    height: 100px;
    margin: 20px;
    border-bottom: solid 1px black;
    display: flex;
    &__title {
      width: 20vw;
      overflow: hidden;
    }
    &__body {
      width: 70vw;
      margin-left: 50px;
      color: gray;
      overflow: hidden;
    }
  }
}

.memo-new, .memo-edit {
  padding: 30px;
  a { text-decoration: none;}
  &__box {
    .new_memo, .edit_memo {
      font-family: 'YuMincho';
      display: flex;
      flex-direction: column;
      &__title {
        margin-bottom: 20px;
        outline: 0;
      }
      &__body {
        height: 600px;
        outline: 0;
        padding: 5px;
        margin-bottom: 150px;
      }
      &__btn {
        &__save {
          color: brown;
          background-color: rgb(255, 194, 119);
          border: solid 1px rgb(234, 141, 29);
          @include btn-style;
          right: 40px;
          @include display-center;
        }
        &__delete {
          color: brown;
          background-color: rgb(255, 194, 119);
          border: solid 1px rgb(234, 141, 29);
          @include btn-style;
          right: 160px;
          @include display-center;
        }
      }
    }
  }
}