= render 'layouts/header'
.memo-page
  = link_to "#" do
    .memo-page__new 
      %i{class: "fas fa-feather-alt"}
  .memo-page__memos
    .memo-page__memos__title 食材
    .memo-page__memos__title 歌詞
    .memo-page__memos__title 誕生日リスト
    .memo-page__memos__title アーティスト
    .memo-page__memos__title パスワード
    .memo-page__memos__title メールアドレス